*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/
.yardoc
*~
_yardoc
doc/
Gemfile.lock
berkshelf
Berksfile.lock
.rake_test_cache
.vagrant
.idea
metadata.json
